.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.iconLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #807d7d;
  cursor: pointer;
}

.iconLabelActive {
  color: #f6961a;
}

.iconLabelDisabled {
  color: #4d4a4a;
  cursor: not-allowed;
}

.icon {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.label {
  font-size: 0.5rem;
  font-weight: 500;
}